{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %} 
    <div align ="center" style="padding-left:20% ; padding-right:20% ; padding-top: 3%">
    <h1>Bienvenue sur Devdev </h1> 

    </div>
  {% endblock %}
