{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} S'inscrire {% endblock %}



{% block contenu %}
    
    <div style="padding-left:20% ; padding-right:20% ; padding-top: 2%">
    {% if form.valide is defined %}
    {% if form.valide == true %}
        <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
        <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
        {% if form.role == 1 %}
            <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Vous êtes un développeur </h1>
        {% endif %}
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
        <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscription">Retourner sur la page d'inscription</a></h1>
    {% endif %}
    </div>
{% else %}
    
    <div style="padding-left:20% ; padding-right:20% ; padding-top: 2%">
    <form class="form-signin" action="index.php?page=inscription" method="post" enctype="application/x-www-form-urlencoded">
        <!methode="post" c pour que les données ne se mettent pas dans l'url
            action="index.php?page=inscription" signifie que les données du formulaire vont être envoyées sur la page « index.php » et précisément sur le contrôleur « inscription ». 
            name = permet de donner un nom au composant, ce qui va permettre de récupérer les données par la suite. Nous avons besoin de donner un nom à la zone de saisie de l'email, des deux mots de passe, le rôle et enfin au bouton.->
        <div align="center">
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
            </div>
        </div>
            <div class="form-group row">
            <label for="inputMdp" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputMdr" name="inputPassword" placeholder="Mot de passe">
            </div>
        </div>
         <div class="form-group row">
            <label for="inputMdp" class="col-sm-2 col-form-label">Confirmation du mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputMdp" name="inputPassword2" placeholder="Mot de passe">
            </div>
         </div>
        <div class="form-group row">
            <label for="inputNom" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="nom" class="form-control" id="inputNom" name="inputNom" placeholder="Nom">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrenom" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                <input type="prenom" class="form-control" id="inputPrenom" name=" inputPrenom" placeholder="Prenom">
            </div>
        
        </div>
        <!--
        <fieldset class="form-group">
            
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Langages maitrisés</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage1" value="Langage1" checked>
                        <label class="form-check-label" for="gridLangage1">
                            html/css
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage2" value="Langage2">
                        <label class="form-check-label" for="gridLangage2">
                            php
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage3" value="Langage3">
                        <label class="form-check-label" for="gridLangage3">
                            python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage4" value="Langage4">
                        <label class="form-check-label" for="gridLangage4">
                            java
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage5" value="Langage5">
                        <label class="form-check-label" for="gridLangage5">
                            c
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage6" value="Langage6">
                        <label class="form-check-label" for="gridLangage6">
                            c++
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridLangage" id="gridLangage7" value="Langage7">
                        <label class="form-check-label" for="gridLangage7">
                            ruby
                        </label>
                    </div>
            
                </div>
        -->
   
            
        </fieldset>
        <select class="form-control" name='role'>    <!attention il faut aussi 1name pr le role->
            <option value="1">Developpeur</option>
            <option value="2">Administrateur</option>
        </select>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" name="btInscrire" class="btn btn-primary">s'inscrire</button> <!-- ne pas oublier le name pr chaque element c tres important
                                                                                                    submit c pr pouvoir envoyer ensuite donc ne pas oublier nn plus-->
            </div>
        </div>
    </form>
    </div>
    
    {% endif %}
{% endblock %}