{% extends "base.html.twig" %}
{% block style %}<link href="css/style-test.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modifier l'email {% endblock %}

{% block contenu %}

    <div style="padding-left:20% ; padding-right:20% ; padding-top: 2%">
        <form style="padding-left:18%" class="form-signin" action="index.php?page=modifnom" method="post" enctype="application/x-www-form-urlencoded">
            <!methode="post" c pour que les données ne se mettent pas dans l'url
            action="index.php?page=inscription" signifie que les données du formulaire vont être envoyées sur la page « index.php » et précisément sur le contrôleur « inscription ».
            name = permet de donner un nom au composant, ce qui va permettre de récupérer les données par la suite. Nous avons besoin de donner un nom à la zone de saisie de l'email, des deux mots de passe, le rôle et enfin au bouton.->
            <div style="padding-left:25%">
                <h1 class="h3 mb-3 font-weight-normal">Modifer les noms</h1>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
                </div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Mot de passe">
                </div>
                    <div class="col-sm-10">
                    <input type="Name" class="form-control" id="inputName" name="inputName" placeholder="Nouveau nom">
                </div>
                <div class="col-sm-10">
                    <input type="Prenom" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Nouveau prenom">
                </div>
                <div class="col-sm-10">
                    <button type="submit" name="btModifEmail" class="btn btn-lg btn-primary btn-block">Modifier le nom</button> <!-- ne pas oublier le name pr chaque element c tres important submit c pr pouvoir envoyer ensuite donc ne pas oublier nn plus-->
                </div>
            </div>
{% endblock %}