{% extends "base.html.twig" %}
{% block style %}<link href="css/style-test.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modifier les langages {% endblock %}

{% block contenu %}

<div class="list-group" style="padding-left:30% ; padding-right:30% ; padding-top: 5%" >
    <form class="form-signin" action="index.php?page=modiflangages" method="post" enctype="application/x-www-form-urlencoded">
            <h1 class="h3 mb-3 font-weight-normal" >Modifier les langages</h1>
</div>
            <select class="form-control" name='idLangage' id="idLangage">    <!attention il faut aussi 1name pr le role->
                <option value="1">HTML/CSS</option>
                <option value="2">Python</option>
                <option value="3">PHP</option>
                <option value="4">Java Scipt</option>
                <option value="5">Java</option>
                <option value="6">C</option>
                <option value="7">C#</option>
                <option value="8">C++</option>
            </select>
            <button type="submit" name="btAjtLangages" class="btn btn-lg btn-primary btn-block">Ajouter le langage</button>
            <button type="submit" name="btSupimer" class="btn btn-lg btn-primary btn-block">Supprimer le langage</button>
        </div>
        
</div>
        
            {% endblock %}