{% extends "base.html.twig" %}
{% block style %}<link href="css/style-test.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modifier le profil {% endblock %}

{% block contenu %}

        <form class="form-signin" action="index.php?page=modifprofil" method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="h3 mb-3 font-weight-normal">Modifer le profil</h1>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Mot de passe">
                <input type="password" class="form-control" id="inputPassword2" name="inputPassword2" placeholder="Confirmer le mot de passe">
                <input type="Name" class="form-control" id="inputName" name="inputName" placeholder="Nouveau nom">
                <input type="Prenom" class="form-control" id="inputPrenom" name="inputPrenom" placeholder="Nouveau prenom">
                <button type="submit" name="btModifEmail" class="btn btn-lg btn-primary btn-block">Modifier</button>
        </form>
{% endblock %}