{% extends "base.html.twig" %}
{% block style %}
    <link href="css/style-test.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modifier le profil {% endblock %}

{% block contenu %}

    {% if form.valide is defined %}
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Un email de récupération vous a été envoyé</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Adresse email introuvable</h1>
        {% endif %}
        {% else %}
            <div style="padding-top:5%">

                <form class="form-signin" action="index.php?page=recupmdp" method="post"
                      enctype="application/x-www-form-urlencoded">
                    <h1 class="h3 mb-3 font-weight-normal">Récupération de mot de passe</h1>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                           placeholder="Entrez votre email">
                    <button type="submit" name="btModifEmail" class="btn btn-lg btn-primary btn-block">Envoyer un email de récupération</button>
                </form>
            </div>
    {% endif %}
{% endblock %}