{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Valider {% endblock %}

{% block contenu %}
    <div align ="center" style="padding-left:20% ; padding-right:20% ; padding-top: 5%">
        <h2>Bienvenue sur Devdev {{ unUtilisateur.prenom }} {{ unUtilisateur.nom }}</h2>
<h2>Votre adresse email a bien été validé</h2>
<a href="index.php?page=base"> Retourner sur la page d'accueil </a>
    </div>
    
{% endblock %}