{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Valider {% endblock %}

{% block contenu %}
<h1>Un email de verification vous a été envoyé.</h1>
{% endblock %}